body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f8f8f8; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

.app-container {
  color: #666;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0.1rem 1rem -0.5rem rgb(0 0 0 / 40%);
}

.app-header {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header > figure {
  width: 50px;
  margin-left: 1%;
}
.app-header > figure > img {
  width: 100%;
  height: 100%;
}

.app-content {
  display: flex;
  align-items: center;
}

.app-content__left {
  width: 25%;
  position: relative;
  background: #f8f8f8;
}
.app-content__subtitle {
  text-align: center;
  margin-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.app-content__subtitle.--bshadow {
  -webkit-box-shadow: 0px 4px 12px -12px #4C4C4C; 
  box-shadow: 0px 4px 12px -12px #4C4C4C;
}
.app-code-editor__request-button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #abd635;
  padding: 12px 18px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.app-code-editor__request-button:disabled{
  background-color: lightgray;
  pointer-events: none;
}
.app-content__right {
  width: 75%;
  height: 90vh;
}
.app-response {
  display: flex;
  align-items: stretch;
  height: 80vh;
}
.app-response__data {
  overflow: auto;
  width: 100%;
  padding: .6rem 2rem;
}
.app-response__json {
  -webkit-box-shadow: -8px 0px 14px -8px #dfdfdf;
  box-shadow: -8px 0px 14px -8px #dfdfdf;
  overflow: auto;
  width: 100%;
  font-size: 1rem;
  /* background: #fbfbfb; */
  color:#556e93;
}
.app-response__json > pre {
  margin-left: 14%;
}
details {
  background: #e9e9e9;
  margin-bottom: 1rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: #7189AD;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: #eee;
  font-weight: 700;
}

summary:before {
  content: '';
  color: red;
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  color: #666;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

details > ul > li {
  list-style: square;
}

.app-empty {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #888;
  font-weight: 800;
  width: 80%;
  margin: auto;
}
.app-empty > code {
  font-size: 1rem;
}

.app-empty__instructions > pre {
  text-align: left;
  border: 1px solid #dfdfdf;
  padding: .4rem;
  margin: 1rem auto;
}